.projtitle {
    
    color: orange;
    border: blue solid 3px;
    display: flex;
    justify-content: center;
}

.statustitle {
    
    color: orange;
    /* border: black solid 3px; */
    display: flex;
    justify-content: center;
    height: fit-content;
}
/* .statustitle2 {
    
    color: orange;
    border: black solid 3px;
    display: flex;
    justify-content: center;
    height: 10px;
    font-size: 50px;
} */
.statustitle2 > h5 {
    color: aqua;
    font-size: 40px;
    text-align: center;
}

.projcol1 {
    
    color: yellowgreen;
    /* border: blue solid 3px; */
    display: flex;
    justify-content: center;
    margin-left: 0px;
    height: 50%;
    
}
.theproj1 {
    /* border: solid red; */
    padding-left: 0%;
    width: 100%;
}

/* .theproj1 >li {
    border: solid purple;
    padding-left: 0%;
    width: 100%;
    padding-bottom: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
} */

.projcol2 {
    
    color: yellowgreen;
    /* border: blue solid 3px; */
    display: flex;
    justify-content: center;
    margin-left: 3px;
    
    
}
.theproj2 {
    /* border: solid purple; */
    padding-left: 0%;
    width: 100%;
}



.projcol3 {
    
    color: yellowgreen;
    /* border: blue solid 3px; */
    display: flex;
    justify-content: left;
    margin-left: 3px;
    
    
}

.theproj3 {
    /* border: solid purple; */
    padding-left: 0%;
    width: 100%;
}