
body {
    background-color: whitesmoke;
}
.firstimg {
    /* margin: 2% 1% 2% 1%; 
    height: 10%;
    /* width: 90%; */
    text-align: center;
    font-size: 30px;
    border: 3px solid black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 600px;
    
    
}

.firstimg > img {
    height: 600px;
}

.firsttxt > h3 {
    color: #beef00;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    background-color: rgba(0,0,0,0.5);
    width: 30%;
    margin-left: 35%;
    margin-right: 40%;
   
}

.firsttxt > p {
    color: #beef00;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    background-color: rgba(0,0,0,0.5);
    width: 90%;
    margin-left: 5%;
    margin-right: 4%;
   
}



.secimg {
    
    text-align: center;
    font-size: 30px;
    border: 3px solid black;
    margin-left: 20px;
    margin-right: 3px;
    font-size: 13px;
    color: black;
    font-family: 'Montserrat', sans-serif;
   
}

.secimg > p {
    /* margin: 2% 1% 2% 1%; 
    height: 10%;
    /* width: 90%; */
}

.thirdimg {
    text-align: center;
    font-size: 30px;
    border: 3px solid black;
    margin-right: 2px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    
}

.lastimg {
    text-align: center;
    font-size: 30px;
    border: 3px solid black;
    margin-right: 20px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    
}

