<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/high.css' %}">

    <script defer src="{% static 'js/app.js'%}"></script>
    

    <title>Kambiri Victory High</title>
  </head>
  <body>


<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="topdiv">
      
      <div class="lownav">
          <nav class="navbar navbar-custom mainnav">
            <header class="d-flex flex-wrap justify-content-center py-2 mb-0">
                <ul class="nav nav-pills btnnav">
                  <li class="nav-item"><a href="{% url 'index' %}" class="nav-link text-white">Home</a></li>
                    <li class="nav-item"><a href="{% url 'orphanhome' %}" class="nav-link text-white" aria-current="page">The Orphanage</a></li>
                    <li class="nav-item"><a href="{% url 'ics' %}" class="nav-link text-white">Intermountain Christian School</a></li>
                    <li class="nav-item"><a href="{% url 'involved' %}" class="nav-link text-white">Get Involved</a></li>
                </ul>
            </header>
          </nav>
      </div>

      <div class="commbody">
        <h3>We are Warriors with an Aspiration to Conquer</h3>
  
      </div>

</div>



    
<!-- <div class="container"> -->
 

    
      <div class="middiv">
    
            <div class="highabot">
        
                <h2>Our School</h2>
                      <p class="card-text">Kambiri Victory High School is a True Testament to the Goodness and Faithfulness of God. Born of Faith, God Has Been Faithful in providing resources to facilitate Free High-Quality Education, Extra-Curriculum Activities, Facilities and Curriculum Practical Resources to Orphans or Underprivileged students, and also Affordable Education to Students all over the county</p>

                <h2>Our Vision</h2>
                <p>
                    Is To Be The Preferred And Leading Private School That Empowers Students Through Provision Of An Education That Is All-round And Of Highest Quality
                </p>
                
                <h2>Our Mission</h2>
                <p>
                    Is To Provide Adequate Infrastructure And Highly Motivated Staff Who Inspire And Challenge Students To Aspire To Academic Excellence Through Teaching And Mentoring
                </p>
                
            </div>
    
    
<div class="highprog">
                  <h3>What We Offer</h3>
    
            <div class="row">
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body icsmottohead">
                        <h5 class="card-title">Computer Studies</h5>
                        <img src="{% static 'images/highcurricu/computer.jpeg' %}" class="rounded-circle" alt="pic" width="150" height="150">
                        <p>Student's Interested in Pursuing Computer Studies Have an Opportunity at Victory Academy High School</p>
                      
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body icsmottohead">
                        <h5 class="card-title">Sciences</h5>
                        <img src="{% static 'images/highcurricu/chemistry.jpeg' %}" class="rounded-circle" alt="pic" width="150" height="150">
                        <p>We offer classroom <b><em> Chemistry, Biology and Physics and practical applications</em></b> to Our students in modernized and fully stocked <b><em>Laboratories</em></b> </p>
                        
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body icsmottohead">
                        <h5 class="card-title">Other Courses</h5>
                        <img src="{% static 'images/highcurricu/agriculture.jpeg' %}" class="rounded-circle" alt="pic" width="150" height="150">
                        <p>Our Agriculture Students are offered firsthand experience to curriculum projects like Green House Farming & Zero Grazing. Our Students are also offered Business Studies. This is in addition to all courses required by the ministry of education</p>
                        
                      </div>
                    </div>
                  </div>
      
            </div>
           
          </div>


</div>




    <!-- ------------------------------------------------------------------ -->

    <div class="highcurri">
      <h3>Our Extra-Curriculum Activities</h3>
      <p>
        Just As Not All Angels Play the Harp Kambiri Victory High School does also believe Not All Students Are Born to be Doctors or Lawyers
      That is why we have and continue to promote a wide range of extracurricular activities that tap into every child talent and goals.
      <br>
    </p>
    
    

<div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body icsmottohead">
            <h5 class="card-title">Academic</h5>
            <img src="{% static 'images/coverimg/high4.jpg' %}" class="rounded-circle" alt="pic" width="150" height="150">
            <p>Not all Schools consider Academics as Extra-Curricular activities but at Victory We do and We <b><em>train our students to understand and not merely pass the exams</em></b></p>

            
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body icsmottohead">
            <h5 class="card-title">Computer Studies</h5>
            <img src="{% static 'images/highcurricu/computer.jpeg' %}" class="rounded-circle" alt="pic" width="150" height="150">
            
            <p>With Understanding of Importance of Having Computer Skills. At Victory High, We offer Computer Packages studies to All our staff and <b><em>Students excelling in their Studies</em></b> </p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body icsmottohead">
            <h5 class="card-title">Sports</h5>
            <img src="{% static 'images/highcurricu/sports.jpeg' %}" class="rounded-circle" alt="pic" width="150" height="150">
            <p>While Our Program is Still Young. We are building a force to reckon with in Football(Soccer), Netball, Badminton, Rugby, Softball, Volleyball among others for both our boys and girls by tapping into their talents.</p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body icsmottohead">
            <h5 class="card-title">Chess</h5>
            <img src="{% static 'images/highcurricu/chess.jpg' %}" alt="pic" width="130" height="110">
            
            <p>Chess is a strategy game for thinking people. Interested Student's at our school have the opportunity to learn the game.</p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body icsmottohead">
            <h5 class="card-title">Farming</h5>
            <img src="{% static 'images/highcurricu/agriculture.jpeg' %}"  alt="pic" width="150" height="110">
            
            <p>In Partnership with Ushindi Children's Home who are striving for Self Sustainability. Top Performing students are offered the opportunity to learn successful farming techniques that include; proper planting, zero-grazing, poultry farming...</p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body icsmottohead">
            <h5 class="card-title">Music & Drama</h5>
            <img src="{% static 'images/highcurricu/culture.jpg' %}" alt="pic" width="130" height="110">
            <p>As a center of cultural hub, Talented Students are offered the opportunity to showcase their talents through singing, reciting, acting, dancing among others</em></b> </p>
          </div>
        </div>
      </div>

</div>
</div>

<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<footer>
  <div class="b-example-divider copi"></div>


  <div class="container copi">
    <footer class="py-5">
      <div class="row">
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link text-white">Home</a></li>
            <li class="nav-item mb-0"><a href="{% url 'orphanhome' %}" class="nav-link text-white">The Orphanage</a></li>
            <li class="nav-item mb-0"><a href="{% url 'song' %}" class="nav-link text-white">Testimonies</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item mb-0"><a href="{% url 'ics' %}" class="nav-link p-1 text-white">Intermountain Christian School</a></li>
            <li class="nav-item mb-0"><a href="{% url 'high' %}" class="nav-link p-1 text-white">Kambiri Victory High School</a></li>
            <li class="nav-item mb-0"><a href="mailto:ushindilife@gmail.com" class="nav-link p-1 text-white">Contact Us</a></li>
          
          </ul>
        </div>
        <div class="col-2">
          <ul class="nav flex-column">
             
          </ul>
        </div>
  
  
        <div class="col-4 offset-1">
          <form>
            <h5>Proverbs 19:17</h5>
            <p>Whoever is Generous to the Poor Lends to the Lord, and He Will repay him or her for the deed</p>
            <div class="d-flex w-100 gap-2">
              
             <a class="btn btn-primary"  href="mailto:ushindilife@gmail.com">CONTACT US</a>
              
            </div>
          </form>
        </div>
      </div>
 
     <div class="d-flex justify-content-between py-4 my-4 border-top">
       <p>&copy; 2022 Ushindi Life International, Inc, All rights reserved.</p>
       <ul class="list-unstyled d-flex">
        <div class="container-fluid">
          <a class="navbar-brand" href="https://www.facebook.com/USHINDI-CHILDRENS-HOME-73403158082" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook" style="font-size:40px;color:white"></i></a>
          <a class="navbar-brand" href="mailto:ushindilife@gmail.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-google" style="font-size:30px; color: white;"></i></a>
          </div>
       </ul>
     </div>
   </footer>
 </div>
</footer>


 
 
     <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<!-- ----------------------------- -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>