<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/proj.css' %}">

    <script defer src="{% static 'js/app.js'%}"></script>
    

    <title>Projects</title>
  </head>
  <body>



<div class="topdiv">
  <div class="lownav">
    <nav class="navbar navbar-custom mainnav">
      <header class="d-flex flex-wrap justify-content-center py-2 mb-0">
          <ul class="nav nav-pills btnnav">
              <li class="nav-item"><a href="{% url 'index' %}" class="nav-link text-white" aria-current="page">Home</a></li>
              <li class="nav-item"><a href="{% url 'involved' %}" class="nav-link text-white">Get Involved</a></li>
          </ul>
      </header>
    </nav>
</div>
</div>


<div class="middiv">

      <div class="imgush">
          <h2>Events and Projects</h2>
      </div>

     


      <div class="goodogod">  
          
          <div class="row">
          
              <div class="col-sm-4 rowbox">
                <div class="card">
                    <div class="card-body icsmottohead">
                      <h5 class="card-title">Current Project - New Classrooms Project
                      </h5>
                      <p class="card-text">With the new CBC education system, high school classes will include grade 7 and 8. Through faith, we are trusting God in beginning construction of the two classes that will meet this new education guidelines by 2023
               
                      </p>
        
        
                    </div>
                </div>
              </div>

              <div class="col-sm-4 rowbox">
                <div class="card">
                    <div class="card-body icsmottohead">
                      <h5 class="card-title">Future Project - Bishop Justus Amunga Memorial Event
                      </h5>
                      <p class="card-text">This event is dedicated in memory of Bishop Justus Amunga. Conducted around the 28th of December to commemorate his birthday. As a man who supported local soccer teams, preached the good news, ministered to the widows and orphans, interacted with everyone with respect. Programs will entail selfless acts of kindness to the community. Participation is not merely limited to Kambiri Community but to any global community who are aware of Bishop Justus Amunga Kindness and Selflessness.
               
                      </p>
                    </div>
                </div>
              </div>

              <div class="col-sm-4 rowbox">
                <div class="card">
                    <div class="card-body icsmottohead">
                      <h5 class="card-title">Current/Ongoing Project -Staff improvement Programs
                      </h5>
                      <p class="card-text">
                        Staff improvement program will be achieved through investing in them by offering competency based, skilled based or other forms of training that will help develop their skills and job performance, and offering competitive incentives
                      </p>
                    </div>
                </div>
              </div>

              <div class="col-sm-4 rowbox">
                <div class="card">
                    <div class="card-body icsmottohead">
                      <h5 class="card-title">Future Project - Aquaculture Project
                      </h5>
                      <p class="card-text">
                        In line with self-sustainable food program, we are trusting God for establishing an Aquaculture program that will offer sea food and thus diverse nutrients for our children
                      </p>
                    </div>
                </div>
              </div>

              <div class="col-sm-4 rowbox">
                <div class="card">
                    <div class="card-body icsmottohead">
                      <h5 class="card-title">Future Projects - School Modernization Project
                      </h5>
                      <p class="card-text">
                        The Late Bishop Justus Amunga had a vision of modernizing both schools and facilitating the highest quality education. We are trusting God in expanding the classes and dormitories to offer more opportunities for students, developing an expanded modernized computer lab offering lessons to all students, making the institution a center of cultural hub, expanding the extra-curricular activities like sports, chess, drama, music among others
                      </p>
                    </div>
                </div>
              </div>

              <div class="col-sm-4 rowbox">
                <div class="card">
                    <div class="card-body icsmottohead">
                      <h5 class="card-title">Current Project - Victory High School Dormitory Renovation
                      </h5>
                      <p class="card-text">
                        Victory Academy High School girls dormitory building is the original Ushindi Children’s Home building built in 2001. Overtime, when it rains, the water would leak into the building leading to repairs as needed. Thanks to God’s provision through AOO, we are currently in the process of completely removing the old and replacing it with a new roof.
                      </p>
                    </div>
                </div>
              </div>

              <div class="col-sm-4 rowbox">
                <div class="card">
                    <div class="card-body icsmottohead">
                      <h5 class="card-title">Current/Ongoing Project - Farming
                      </h5>
                      <p class="card-text">
                        Our plan for self-sustainability led to employing of skilled farm manager. Under his guidance, we established a farming produce whose success will ensure that the vegetables and fruits consumed by the children are home grown. In addition, this program offers an opportunity for children to learn farming techniques which they can apply as adults. Our program encourages innovation to maximize on available resources
                      </p>
                    </div>
                </div>
              </div>

              <div class="col-sm-4 rowbox">
                <div class="card">
                    <div class="card-body icsmottohead">
                      <h5 class="card-title">Previous Event - Bishop Justus Memorial Tournament
                      </h5>
                      <p class="card-text">
                        On 26th December 2021 A Memorial Soccer tournament in honor of the Late Bishop Justus Amunga was conducted. The tournament had adult men, Women and Children participation and was successful in bringing the Community together to honor the Late Bishop Justus Amunga. It is Our Hope and Prayer that we can continue honoring his memory.
                      </p>
                    </div>
                </div>
              </div>

              <div class="col-sm-4 rowbox">
                <div class="card">
                    <div class="card-body icsmottohead">
                      <h5 class="card-title"> Previous Project - Solar Project
                      </h5>
                      <p class="card-text">
                        Thanks to our AOO Partners, we were able to install solar panels to our children’s homes. The Solar panels are providing a sustainable and no-cost energy for the children. The energy is vital for providing lighting system at night, source for entertainment electricity and pumping water
                      </p>
                    </div>
                </div>
              </div>
          
        </div>
      </div>



<!--                    -->

<footer>
  <div class="b-example-divider copi"></div>


  <div class="container copi">
    <footer class="py-5">
      <div class="row">
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link text-white">Home</a></li>
            <li class="nav-item mb-0"><a href="{% url 'orphanhome' %}" class="nav-link text-white">The Orphanage</a></li>
            <li class="nav-item mb-0"><a href="{% url 'song' %}" class="nav-link text-white">Testimonies</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item mb-0"><a href="{% url 'ics' %}" class="nav-link p-1 text-white">Intermountain Christian School</a></li>
            <li class="nav-item mb-0"><a href="{% url 'high' %}" class="nav-link p-1 text-white">Kambiri Victory High School</a></li>
            <li class="nav-item mb-0"><a href="mailto:ushindilife@gmail.com" class="nav-link p-1 text-white">Contact Us</a></li>
          
          </ul>
        </div>
        <div class="col-2">
          <ul class="nav flex-column">
             
          </ul>
        </div>
  
  
        <div class="col-4 offset-1">
          <form>
            <h5>Proverbs 19:17</h5>
            <p>Whoever is Generous to the Poor Lends to the Lord, and He Will repay him or her for the deed</p>
            <div class="d-flex w-100 gap-2">
              
             <a class="btn btn-primary"  href="mailto:ushindilife@gmail.com">CONTACT US</a>
              
            </div>
          </form>
        </div>
      </div>
 
     <div class="d-flex justify-content-between py-4 my-4 border-top">
       <p>&copy; 2022 Ushindi Life International, Inc, All rights reserved.</p>
       <ul class="list-unstyled d-flex">
        <div class="container-fluid">
          <a class="navbar-brand" href="https://www.facebook.com/USHINDI-CHILDRENS-HOME-73403158082" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook" style="font-size:40px;color:white"></i></a>
          <a class="navbar-brand" href="mailto:ushindilife@gmail.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-google" style="font-size:30px; color: white;"></i></a>
          </div>
       </ul>
     </div>
   </footer>
 </div>
</footer>
 
 
     <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<!-- ----------------------------- -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>