<!doctype html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/uppernav.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainbody.css' %}">
    <link rel="stylesheet" href="{% static 'css/lower.css' %}">
    <link rel="stylesheet" href="{% static 'css/song.css' %}">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    
    <script defer src="{% static 'js/app.js'%}"></script>
    <title>Ushindi Children's Home</title>
  </head>
  <body>
        <div class="navbar">
            <div class="uppernav">
                <nav >
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </nav>
            </div>
            <!--  _______________________________________________________________________-->

            <div class="lowernav">
                <ul class="nav nav-pills">
                    <li class="nav-item lownav">
                        <a class="nav-link" aria-current="page" href="{% url 'projects' %}">Home</a>
                      </li>
                      
                    <li class="nav-item lownav1">
                        <a class="link2" href="{% url 'index' %} ">
                            <img src="{% static 'images/logonew.png' %}" alt="Ushindi Logo" width="150" height="120">
                        </a>
                      </li>

                      <li class="nav-item lownav">
                        <a class="nav-link" href="{% url 'widows' %}">Gallery</a>
                      </li>

            </div>
        </div>
    <!-- _____________________________________________________________________ -->
    
        <section>
          <div class="box1">
              <h3><strong><em>Previous Projects</em></strong></h3>
              <p> Ignoring the lorem part down here, this box is designed to create a content on left where I describe my last conquest.
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non et magnam natus amet repudiandae porro. Eum, ipsa adipisci. Velit dicta voluptas temporibus deleniti voluptatum eius iste reprehenderit ea recusandae inventore.</p>
          </div>
          <div class="box2">
              <h3><strong><em>Current Projects</em></strong></h3>
              <h5>Sky Dive</h5>
              <img class="proj_img" src="{% static 'images/dance.jpeg' %}" alt="sky_dive">
              <br>
              <p> The second box discusses the most recent thing i did, for my next blog this section will be in first portion
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam velit quas ea voluptatum placeat dignissimos, minus nostrum. Sint omnis saepe sapiente excepturi harum quaerat a maiores, quasi nostrum odit quae?
              <br><br><br>
              Use Read More For the Projects
          
          </p>
          </div>
          <div class="box3">
              <h3><strong><em>Future Projects</em></strong></h3>
              <p>This blog discusses my future plans which include:</p>
                  <ul><strong><u>Programing</u></strong>
                      <li>Html and CSS</li>
                      <li>Flask</li>
                      <li>Repetition</li>
                  </ul>
                  <p>I would also like to understand how to align items within a box nice and neat</p>
          </div>
      </section>
            <div class="ourcont">
                <h2>Contact Us</h2>
                <h3>Proverbs 19:17</h3>
                <p>Whoever is generous to the poor lends to the Lord, and he Will repay him for his deed</p>
                <a class="btnlow" href="mailto:ushindichildren@gmail.com">CONTACT US</a>
            </div>
          
            <footer>
              Copyright &copy; 2022
            </footer>

        </div>
 

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>