body {
    background-image: url('song1.jpg');
    background-size: cover;
    /* color:rgb(0, 132, 255); */
   
}

.bod {
    border: 5px solid red;
    width: 50%;
    height: 250px;
    margin: 4% 5% 5% 30%;
    font-size: 3vh;
    padding-left: 20px;
}

.head_class2{
    display:flex;
    justify-content: space-between;
    
}

nav > a {
    padding: 2%;
    font-size: x-large;
    color:aqua;
}

nav > li {
    padding: 2%;
    font-size: x-large;
    color:aqua;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }