<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/proj.css' %}">

    <script defer src="{% static 'js/app.js'%}"></script>
    

    <title>Projects</title>
  </head>
  <body>



<div class="topdiv">
  <div class="lownav">
    <nav class="navbar navbar-custom mainnav">
      <header class="d-flex flex-wrap justify-content-center py-2 mb-0">
          <ul class="nav nav-pills btnnav">
              <li class="nav-item"><a href="{% url 'index' %}" class="nav-link text-white" aria-current="page">Home</a></li>
              <li class="nav-item"><a href="{% url 'album' %}" class="nav-link text-white">Gallery</a></li>
              <li class="nav-item"><a href="{% url 'involved' %}" class="nav-link text-white">Get Involved</a></li>
          </ul>
      </header>
    </nav>
</div>
</div>


<div class="middiv">

      <div class="imgush">
          <h2>Events and Projects</h2>
      </div>




  <div class="goodogod">  
    <span><a href="{% url 'album' %}" class="btn btn-primary">Images</a></span>    
      <div class="row">
      {% for post in posts %}
      <div class="col-sm-4 rowbox">
      <div class="card">
          <div class="card-body icsmottohead">
          <h5 class="card-title">{{post.title}} - {{post.status}}</h5>
          <p class="card-text">{{post.body}}  
          </p>
    
    
          </div>
      </div>
      </div>
      {% endfor %}
      </div>
      <span><a href="{% url 'album' %}" class="btn btn-primary">Images</a></span>
  </div>


<!--                    -->

<footer>
  <div class="b-example-divider copi"></div>


  <div class="container copi">
    <footer class="py-5">
      <div class="row">
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link text-white">Home</a></li>
            <li class="nav-item "><a href="{% url 'orphanhome' %}" class="nav-link text-white">The Orphanage</a></li>
            <li class="nav-item "><a href="{% url 'song' %}" class="nav-link text-white">Testimonies</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item"><a href="{% url 'ics' %}" class="nav-link p-1 text-white">Intermountain Christian School</a></li>
            <li class="nav-item"><a href="{% url 'album' %}" class="nav-link p-1 text-white">Gallery</a></li>
           
            
          </ul>
        </div>
  
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item"><a href="{% url 'high' %}" class="nav-link p-1 text-white">Kambiri Victory High School</a></li>
            <li class="nav-item"><a href="mailto:ushindilife@gmail.com" class="nav-link p-1 text-white">Contact Us</a></li>
            
          </ul>
        </div>
  
        <div class="col-4 offset-1">
          <form>
            <h5>Proverbs 19:17</h5>
            <p>Whoever is Generous to the Poor Lends to the Lord, and He Will repay him or her for the deed</p>
            <div class="d-flex w-100 gap-2">
              
             <a class="btn btn-primary"  href="mailto:ushindilife@gmail.com">CONTACT US</a>
              
            </div>
          </form>
        </div>
      </div>
 
     <div class="d-flex justify-content-between py-4 my-4 border-top">
       <p>&copy; 2022 Ushindi Life International, Inc, All rights reserved.</p>
       <ul class="list-unstyled d-flex">
        <div class="container-fluid">
          <a class="navbar-brand" href="https://www.facebook.com/USHINDI-CHILDRENS-HOME-73403158082" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook" style="font-size:40px;color:white"></i></a>
          <a class="navbar-brand" href="mailto:ushindilife@gmail.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-google" style="font-size:30px; color: white;"></i></a>
          </div>
       </ul>
     </div>
   </footer>
 </div>
 </footer>


</div>
 
 
     <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<!-- ----------------------------- -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>