.topdiv {
    background: url('/static/images/coverimg/ushfarm.jpg'); 
    /* background: url('/static/images/coverimg/ushfarm.jpg'), url('/static/images/coverimg/ush2.jpg'); */
    /* background-position: left top, right top; */
    /* width: 50%; */
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: fit-content;
    height: 600px;
}
  

.navb-custom > div {
      display: flex;
      justify-content: space-evenly;
}
      
      
.lownav {
        display: flex;
        justify-content: space-evenly;
  
        
}
    
.lownav > .mainnav {
        height: auto; 
        width: auto;
}
   
.btnnav {
      -webkit-border-radius: 7;
      -moz-border-radius: 7;
      border-radius: 7px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #ffffff;
      font-size: 30px;
      font-family: 'Rosarivo', serif;
      /* text-decoration: underline; */
      background-color: rgba(13,110,253,0.95);
}
     
    
.btnnav > li :hover {
      background-image: -webkit-linear-gradient(top, #3498db, #952bb8);
      background-image: -moz-linear-gradient(top, #3498db, #952bb8);
      background-image: -ms-linear-gradient(top, #3498db, #952bb8);
      background-image: -o-linear-gradient(top, #3498db, #952bb8);
      background-image: linear-gradient(to bottom, #3498db, #952bb8);
      text-decoration: none;
      color: #ffffff;
}
 
.commbody {
    height: auto;
    margin: 305px 1% 1% 2%;
    font-size: 90px;
    color: #34ace0;;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 50%;
    margin: 300px auto 0px auto;
    margin: 20% 27%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}
  
.middiv {
      
      background-color: rgba(0,0,0,0.9);
      text-decoration: dotted;
      
      
}
  
    
.ushstory {
     
      height: auto;
      font-size: 4vh;
      width: 95%;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color:#fff;
      padding-left: 20px;
      padding-top: 10px;
      margin: 0px 5% 5px 2%;
      color:#fff;
      padding:30px 20px;
      box-shadow:0px 0px 10px rgba(0,0,0,.5);
      
      
      
}
.ushstory > h2 {
    text-align: center;
    align-items: center;
    font-size: 50px;
    color: orange;
    background-size: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ushstory >p {
      font-size: 10px;
      text-align: center;
      color:#34ace0;
      font-size:17px;
      padding-top:5px;
      
}

       

footer {
      background-color: rgba(0, 0, 0, 1);
      color: white;
      text-shadow: 2px ;
      font-family: 'Tangerine', serif;
      height: auto;
}

footer > .copi {
  font-size: 20px;
  font-family: rosales;
  
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border:#ffffff solid 3px;
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}