.commbody {
    border: 5px solid red;
    width: 45%;
    height: 230px;
    margin: 300px 1% 1% 2%;
    font-size: 4vh;
    color:lime;
    padding-left: 20px;
    border: 5px solid whitesmoke;
}

/* .proj_richus {
    border: 3px solid salmon;
    display: flex;
    margin-top: 50px;
    align-items: center; 
    justify-content: space-evenly;
    
/* } */ 

.abotus {
    color: aliceblue;
    text-align: center;
    border: 5px solid rebeccapurple;
    margin-bottom: 10px;
}

.abotus > h2 {
    align-items: center;
    
}

.ourhisto {
    color: aliceblue;
    text-align: center;
    border: 5px solid white;
    margin-bottom: 10px;
}

.ourhisto > h2 {
    align-items: center;
}

.ourcont {
    margin-top: 40px;
    color: aliceblue;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    width: max-content;
    overflow: hidden;
    margin-left: 35%;
    border: 30px solid blue;
    padding-bottom: 10px;
}

.ourcont  > h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 8px;
    font-weight: normal;
    align-items: center;
  }
  
  .ourcont  > h3 {
    color: #11999E;
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
.bibverse {
    width: 40%;
    margin: 40px auto 60px;
    color: aliceblue;
}

footer {
    border: 3px solid gold;
    margin-top: 15px;
    margin-left: 25%;
    width: 50%;
    align-content: center;
    color: #11999E;
    font-size: 2.5rem;
    font-weight: normal;
    display: flex;
    justify-content: center;
    position:absolute;
}