body{
    background: url('mountain.jpeg') no-repeat, url('worship.jpg'), url('jasper1.jpg');
    background-position: left top, right top, left bottom;
   

}

.bod {
    border: 5px solid red;
    width: 40%;
    height: 230px;
    margin: 300px 5% 2% 50%;
    font-size: 4vh;
    padding-left: 20px;
    color:aqua;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.uppernav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid gold;
  /* width: 100%; */

}

.uppernav > nav {
  font-size: 30px;
  padding: 5px 5px 5px 15px;
  padding-left: 85px;

}

.uppernav > nav > a {
  border: 5px solid gold;
  width: 52px;
  height: 50px;
  margin-right: 0px;
  padding: 5px auto 5px 15%;
  
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  text-align: center;
  
}

.fa-youtube {
    background: #bb0000;
    color: white;
    text-align: center;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
    text-align: center;
  }

