body{
    
    background: url('/static/images/Jasper2.jpg');
    
    
}

.picloc {
    margin-top: 20px;
    margin-left: 50px;
}


div {
    border: 3px solid red;
    margin-bottom: 2px;
    
}

.pics {
    display: flex;
    padding: 2px;
    padding-bottom: 10px;
    line-height:0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin: 30px 10px 10px 10px;
    flex-wrap: wrap;
     /* -webkit-column-count:5; /* split it into 5 columns 
     -webkit-column-gap:15px; /* give it a 5px gap between columns 
     -moz-column-count:5;
     -moz-column-gap:5px;
     column-count:5;
     column-gap:5px; */
}

.pics > img {
    width: 350px;
    height: 380px;
    padding-left: 20px;
    padding-bottom: 5px;
    filter: grayscale(100%);
}

.pics img:hover {
    filter:none;
 }