.topdiv {
  background: url('/static/images/worship.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
  /* border: #00ff00 solid 20px; */
  height: 600px;
  /* height: 40%; */
}

  
  
  .lownav {
    display: flex;
    justify-content: space-evenly;
    
  }
  
  .lownav > .mainnav {
    
    margin-top: 10px;
    padding-top: 0px;
    margin-bottom: 10px;
    height: 35px;

  }

  .lownav > .mainnav > header {
    
    margin-top: 0px;
    
    
  }
  
  .navb-custom > div {
    background-color: #66BFBF;
    display: flex;
    justify-content: space-evenly;
  }
  
  .lownav > nav {
    color: #1685b8;
  }
  
  .lownav > ul > li {
    color: red;
    font-size: x-large;
  }


  .middiv {
    background-color: #fff;
    /* height: 80%; */
    border: #34ace0 solid 10px;
  }

  
  .ushstory {
    /* border: yellow solid 10px; */
    height: 500px;
    font-size: 4vh;
    width: 95%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#fff;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0px 5% 5px 2%;
    /* background-color: rgba(0,0,0,0.5); */
    color:#fff;
    padding:30px 20px;
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
    
    
    
  }
  .ushstory >p {
    font-size: 10px;
    text-align: center;
    color:#34ace0;
    font-size:17px;
    padding-top:5px;
    
  }
  .ushstory > h2 {
    text-align: center;
    align-items: center;
    font-size: 50px;
    color: orange;
    background-size: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }




  .middiv {
    background-color: #fff;
    /* height: 80%; */
    border: #34ace0 solid 10px;
    /* margin-top: 30px; */
    /* margin: 30px 2% 5px 2%; */
  }

  .commbody {
    width: 45%;
    height: 230px;
    margin: 305px 1% 1% 2%;
    font-size: 50px;
    color: #34ace0;;
    padding-left: 20px;
    padding-top: 50px;
    /* border: 5px solid whitesmoke; */
    width: 50%;
    margin: 300px auto 10px auto;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    font-size: 50px;
  }

  
  .aboutush {
    width: 65%;
    height: 330px;
    margin: 305px 1% 1% 2%;
    font-size: 4vh;
    color:limegreen;
    padding-left: 20px;
    padding-top: 50px;
    border: 5px solid whitesmoke;
    width: 50%;
    margin: 300px auto 100px auto;
    text-align: left;
    background-color: rgba(0,0,0,0.5);
    
  }
  .aboutush >p {
    font-size: 20px;
    
  }
  .aboutush > h2 {
    text-align: center;
    font-size: 50px;
  }
  
  
  footer {
    background-color: #66BFBF;
  }
  
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  
  .btnnav {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btnnav > li :hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3498db, #952bb8);
    background-image: -moz-linear-gradient(top, #3498db, #952bb8);
    background-image: -ms-linear-gradient(top, #3498db, #952bb8);
    background-image: -o-linear-gradient(top, #3498db, #952bb8);
    background-image: linear-gradient(to bottom, #3498db, #952bb8);
    text-decoration: none;
    color: #ffffff;
  }