<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/inter.css' %}">

    <script defer src="{% static 'js/app.js'%}"></script>
    

    <title>Ushindi Children's Home</title>
  </head>
  <body>


<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    
<!-- <div class="container"> -->
  <div class="topdiv">
    <div>

      <nav class="navb-custom">
        <div class="container-fluid">
          <h1>WE THE CONQUERORS</h1>
        </div>

<!-- </div> -->
      </nav>
    </div>

  <div class="lownav">
      <nav class="navbar navbar-custom bg-light mainnav">
        <header class="d-flex flex-wrap justify-content-center py-2 mb-4 border-bottom btnnav">
            <ul class="nav nav-pills btnnav">
                <li class="nav-item"><a href="{% url 'orphanhome' %}" class="nav-link" aria-current="page">The Orphanage</a></li>
                <li class="nav-item"><a href="{% url 'ics' %}" class="nav-link">Intermountain Christian School</a></li>
                <li class="nav-item"><a href="{% url 'high' %}" class="nav-link">Kambiri Victory High</a></li>
                <li class="nav-item"><a href="{% url 'song' %}" class="nav-link">The Goodness of God</a></li>
                <li class="nav-item"><a href="{% url 'involved' %}" class="nav-link">Get Involved</a></li>
            </ul>
        </header>
      </nav>
  </div>

  <div class="commbody">
    <h3>With Our Motto of No Mountain High Enough, in 2022 KCPE Examination. Our School was Ranked #1 in LOCATION. Also Number</h3>
    
  </div>

</div>

<div class="middiv">

  <div class="interaward">
    <div class="row">
      <div class="col-sm-3 mb-2">
        <div class="awarding">
          <img src="{% static 'images/award/oneaward.jpg' %}" class="rounded-circle" alt="...">
          <div >
            <h5>Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3">
        <div class="awarding">
          <img src="{% static 'images/award/twoaward.jpg' %}" class="rounded-circle" alt="...">
          <div >
            <h5>Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-3">
        <div class="awarding">
          <img src="{% static 'images/award/threeaward.jpg' %}" class="rounded-circle" alt="...">
          <div >
            <h5>Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      
  
      </div>




      <h2>About Us</h2>
      <p>A Christian organization dedicated to building Self-Sustaining orphanages in Kenya to give new homes to children who have been orphaned - largely due to the HIV/AIDS pandemic or children who are Victims of Abuse, Neglect or Abandonment. In addition, we work to meet the needs of the poor and widowed</p>
  </div>

  <div class="ushvis">
      <h2>Our Vision</h2>
      <p>We Exist to meet the needs of the orphans, Abandoned, Neglected or Abused children by providing education, food, shelter, clothing, health care, skills training and Christian discipleship</p>
  </div>

  <div class="ushmis">
    <h2>Our Mission</h2>
    <p>We Exist to meet the needs of the orphans, Abandoned, Neglected or Abused children by providing education, food, shelter, clothing, health care, skills training and Christian discipleship and to Win their souls to Christ by:</p>
    <ol>
      <li>Creating a Safe, nurturing, loving and Christian Home Environment for the children</li>
      <li>Meeting the needs of the Children by providing Education, Food, Shelter, Clothing, Health Care, Skills training and Christian discipleship</li>
      <li>Providing education to children that will help break the cycle of poverty in Kenya</li>
      <li>Providing Hope to Orphaned, Abandoned, Neglected or Abused Children by taking them off the streets</li>
      <li>Availing needed resources for the children to live a healthy and fulfilled life</li>
    </ol>

  </div>




























  


    <!-- ----------------------------------------------------------------------------------------- -->
    <div class="row">
      <div class="col-sm-2 mb-2">
        <div class="awardimg">
          <img src="{% static 'images/award/oneaward.jpg' %}" class="rounded-circle" alt="...">
          <div >
            <h5>Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2 mb-3">
        <div class="awardimg">
          <img src="{% static 'images/award/twoaward.jpg' %}" class="rounded-circle" alt="...">
          <div >
            <h5>Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-2 mb-3">
        <div class="awardimg">
          <img src="{% static 'images/award/threeaward.jpg' %}" class="rounded-circle" alt="...">
          <div >
            <h5>Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-2 mb-3">
        <div class="awardimg">
          <img src="{% static 'images/award/fouraward.jpg' %}" class="rounded-circle" alt="...">
          <div >
            <h5>Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-2 mb-3 mr-3">
        <div class="awardimg">
          <img src="{% static 'images/award/oneaward.jpg' %}" class="rounded-circle" alt="...">
          <div >
            <h5>Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-2 mb-3">
        <div class="awardimg">
          <img src="{% static 'images/award/oneaward.jpg' %}" class="rounded-circle" alt="...">
          <div >
            <h5>Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
  
      </div>






     <!-- ---------------------------------------------------------------------------- -->
     
    
     
<!-- ------------------------------------------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------ -->
    
    ------------------------------------------------------------------------------------------------------------------- -->

 <div class="abotus">
    
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Our School</h5>
            <p class="card-text">Kambiri Victory High School is a Testament to the Goodness and Faithfulness of God. Back in 20... we had over ... children across multiple High Schools in Kenya. Affordability to meet the vision of providing quality education was proving to be a challenge and hence the establishment of the High School</p>
            <p>God Has Been Faithful in providing resources to facilitate <em> Free High Quality</em> <b>Education, Extra-Curriculum Activities, Facilities and Curriculum Practical Resources</b> to <em><b>Orphans, Underprivileged,</b></em> which is <em>Affordable</em> to <em><b>Talented and Other Students</b></em> and talented <em> Free High Quality</em></p>
                
            <a href="#" class="btn btn-primary">Get Involved</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Our Vision</h5>
            <p class="card-text">We Exist to meet the needs of the orphans, Abandoned, Neglected or Abused children by providing education, food, shelter, clothing, health care, skills training and Christian discipleship</p>
            <p>Meeting the needs of the Children by providing Education, Food, Shelter, Clothing, Health Care, Skills training and Christian discipleship</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Our Mission</h5>
            <p class="card-text">We Exist to meet the needs of the orphans, Abandoned, Neglected or Abused children by providing education, food, shelter, clothing, health care, skills training and Christian discipleship</p>
            <p>Meeting the needs of the Children by providing Education, Food, Shelter, Clothing, Health Care, Skills training and Christian discipleship</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      

</div>


 <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
 <div class="schooloffer">
    <div class="schoolcourses">
      <h2 >Why Join Us</h2>
    <p>Intermountain Christian School is The School For The Future. Our teaching methodology and culture is designed to not merely educate children but nurture them as well. In addition to the Curriculum required by the Education Department, we offer Extra-Curricular activities tailored towards providing success to our students through high school and Life. </p>
    </div>


<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

    </div>
    
    <div class="row">
    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Academic</h4>
          <div class="row g-0">
              <div class="col-md-4">
                  <img src="{% static 'images/high1.jpg' %}" class="rounded-circle" alt="pic" width="150" height="150">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>Not all Schools consider Academics as Extra-Curricular activities but at Intermountain Christian School We do, and We <b><em>train our students to understand and not merely pass the exams</em></b></p>
                  
                 
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Swimming Lessons</h4>
          <div class="row g-0">
              <div class="col-md-4">
                  <img src="high1.jpg" class="rounded-circle" alt="pic" width="150" height="150">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>Students Attending Intermountain Christian School Are Offered an Opportunity in a safe environment to learn Swimming</em></b> </p>
          
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Football</h4>
          <div class="row g-0">
              <div class="col-md-4">
                  <img src="{% static 'images/ushindi_team.jpg' %}" class="rounded-circle" alt="pic" width="150" height="150">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>Also Known as Soccer, at our institution we are building a program that nurtures the children's talents in sports. Our Vision is to build both boys and girls Football Team that Conquerors all.</p>
                  
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Volleyball</h4>
          <div class="row g-0">
              <div class="col-md-4">
                  <img src="high1.jpg" class="rounded-circle" alt="pic" width="150" height="150">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>At our institution we are building a program that nurtures the children's talents in sports. Our Vision is to build both boys and girls Volleyball Team that Conquerors all.</p>
                  
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Computer Studies</h4>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'images/high1.jpg' %}" class="rounded-circle" alt="pic" width="150" height="150">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p>At Intermountain we offer our staff Computer Lessons to help ease the future transition of our students into computer studies. Our vision is to introduce <em><b>Computer Programming as Part of the Program</b></em> when God Provides Resources</p>
                    
                   
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"> Music & Drama</h4>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="high1.jpg" class="rounded-circle" alt="pic" width="150" height="150">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p>As a center of cultural hub, Talented Students at Intermountain Christian School are offered the opportunity to showcase their talents through singing, reciting, acting, dancing among others</em></b> </p>
              
                   
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Foreign Language</h4>
            <div class="row g-0">
                <div class="col-md-4">
                    <img class=""  src="{% static 'images/ushindi_team.jpg' %}" class="rounded-circle" alt="pic" width="150" height="150">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p>At Intermountain, we are trusting God in establishing a foreign Language Program for our student as the Lord Leads Us </p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Special Education</h4>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="high1.jpg" class="rounded-circle" alt="pic" width="150" height="150">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p>While not fully equipped to meet different special needs cases, We are trusting God for resources to be able to meet the need of caring for special needs children in our community</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
   
    <div class="schoolcourses">
  
        <h4>The Success of a Child is Highly dependent on the Academic and Talent Foundation. At Mountain We Strive to raise children with strong background to succeed in high school and later on in life.</h4>
      
      </div>
</div>
    
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->


 <footer>
  <div class="b-example-divider"></div>


 <div class="container">
   <footer class="py-5">
     <div class="row">
       <div class="col-2">
         <ul class="nav flex-column">
           <li class="nav-item mb-2"><a href="{% url 'index' %}" class="nav-link p-0 text-muted">Home</a></li>
           <li class="nav-item mb-2"><a href="{% url 'orphanhome' %}" class="nav-link p-0 text-muted">The Orphanage</a></li>
           <li class="nav-item mb-2"><a href="{% url 'song' %}" class="nav-link p-0 text-muted">Testimonies</a></li>
         </ul>
       </div>
 
       <div class="col-2">
         <ul class="nav flex-column">
           <li class="nav-item mb-2"><a href="{% url 'ics' %}" class="nav-link p-0 text-muted">Intermountain Christian School</a></li>
           <li class="nav-item mb-2"><a href="{% url 'album' %}" class="nav-link p-0 text-muted">Gallery</a></li>
          
           
         </ul>
       </div>
 
       <div class="col-2">
         <ul class="nav flex-column">
           <li class="nav-item mb-2"><a href="{% url 'high' %}" class="nav-link p-0 text-muted">Kambiri Victory High School</a></li>
           <li class="nav-item mb-2"><a href="mailto:ushindichildren@gmail.com" class="nav-link p-0 text-muted">Contact Us</a></li>
           
         </ul>
       </div>
 
       <div class="col-4 offset-1">
         <form>
           <h5>Proverbs 19:17</h5>
           <p>Whoever is Generous to the Poor Lends to the Lord, and He Will repay him or her for the deed</p>
           <div class="d-flex w-100 gap-2">
             
            <a class="btn btn-primary"  href="mailto:ushindichildren@gmail.com">CONTACT US</a>
             
           </div>
         </form>
       </div>
     </div>
 
     <div class="d-flex justify-content-between py-4 my-4 border-top">
       <p>&copy; 2022 Ushindi Children's Home, All rights reserved.</p>
       <ul class="list-unstyled d-flex">
        <div class="container-fluid">
          <a class="navbar-brand" href="https://www.facebook.com/profile.php?id=100054309920023" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook" style="font-size:30px;color:blue"></i></a>
          <a class="navbar-brand" href="mailto:ushindichildren@gmail.com"><i class="bi bi-google" style="font-size:30px; color: black;"></i></a>
          <a class="navbar-brand" href="#"><i class="bi bi-youtube" style="font-size:30px; color: red;"></i></a>
          <a class="navbar-brand" href="#"><i class="bi bi-twitter" style="font-size:30px; color:blue;"></i></a>
          <a class="navbar-brand" href="#"><i class="bi bi-instagram" style="font-size:30px; color: #fb3958;"></i></a>
          </div>
       </ul>
     </div>
   </footer>
 </div>
 </footer>
 
 
     <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<!-- ----------------------------- -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>