<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/involved.css' %}">

    <script defer src="{% static 'js/app.js'%}"></script>
    

    <title>Ushindi Children's Home</title>
  </head>
  <body>


<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    
<nav class="navb-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="bi bi-facebook" style="font-size:30px;color:blue"></i></a>
      <a class="navbar-brand" href="mailto:ushindichildren@gmail.com"><i class="bi bi-google" style="font-size:30px; color: black;"></i></a>
      <a class="navbar-brand" href="#"><i class="bi bi-youtube" style="font-size:30px; color: red;"></i></a>
      <a class="navbar-brand" href="#"><i class="bi bi-twitter" style="font-size:30px; color:blue;"></i></a>
      <a class="navbar-brand" href="#"><i class="bi bi-instagram" style="font-size:30px; color: #fb3958;"></i></a>
      </div>
      
    <!-- </div> -->
  </nav>
</div>
  
      <!-- <div class="container"> -->
        <div class="lownav">
        <nav class="navbar navbar-custom bg-light mainnav">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom btnnav">
          <a href="{% url 'index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="{% static 'images/logonew.png' %}" alt="logo" width="200" height="110">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
    
          <ul class="nav nav-pills btnnav">
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="{% url 'albums' %}" class="nav-link">Gallery</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Projects</a></li>
            
          </ul>
        </header>
      </nav>
      </div>


      <div class="card bg-dark text-white firstimg">
        <img src="{% static 'images/cont_back.jpg' %}" class="card-img" alt="...">
        <div class="card-img-overlay firsttxt">
          <h3 class="card-title">GET INVOLVED</h3>
          <p class="card-text">
            Ushindi Started as a Ministry preaching the gospel. It then expanded to catering for Orphans, Abandoned, Abused or Neglected Children. Shortly after, it expanded to other ministries that included provision of Quality education to communities. Throughout the Expansion, God has been faithful in providing Faithful Partners to his work. To get involved with supporting the Orphanage Please reach out to Our Partner AOO. For support of bright but poor students please reach out to VALOR. For any other inquiries please reach out to us @ email. If you need Prayers, the Bible says God Hears the Prayers of the Children and We do Have an Army of Prayer Warriors
          </p>
          
        </div>
      </div>

      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card secimg">
            <img src="{% static 'images/aoo.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b>African Orphan Outreach</b></h5>
                <p class="card-text">Since 2005 the African Orphan Outreach has supported the provision of ..... to over .... Orphaned, Abandoned, Neglected or Abused Children. We at Ushindi are most honored to partner with AOO in this great work of the Lord</p>
                <a href="#" class="btn btn-primary">More Information</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card thirdimg">
            <img src="{% static 'images/aoo.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b>Valor International Christian</b></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card lastimg">
            <img src="{% static 'images/old1.jpg' %}" class="card-img-top" alt="..." height="255px">
            <div class="card-body">
                <h5 class="card-title"><b>Ushindi Life International</b></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card lastimg">
            <img src="{% static 'images/pray.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b>PRAY</b></h5>
                <p class="card-text"><em><b>Genesis 20:17</b></em> states that God hears the prayers of children and Our Children are Mighty Prayer Warriors. We also Ask that You might Pray With Us as we continue serving the Lord.</p>
                <a href="#" class="btn btn-primary">Make A Prayer Request</a>
            </div>
          </div>
        </div>
      </div>
    
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->


 <footer>
  <div class="b-example-divider"></div>


  <div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'index' %}" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="{% url 'orphanhome' %}" class="nav-link p-0 text-muted">The Orphanage</a></li>
            <li class="nav-item mb-2"><a href="{% url 'song' %}" class="nav-link p-0 text-muted">Testimonies</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'ics' %}" class="nav-link p-0 text-muted">Intermountain Christian School</a></li>
            <li class="nav-item mb-2"><a href="{% url 'albums' %}" class="nav-link p-0 text-muted">Gallery</a></li>
           
            
          </ul>
        </div>
  
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'high' %}" class="nav-link p-0 text-muted">Kambiri Victory High School</a></li>
            <li class="nav-item mb-2"><a href="mailto:ushindichildren@gmail.com" class="nav-link p-0 text-muted">Contact Us</a></li>
            
          </ul>
        </div>
  
        <div class="col-4 offset-1">
          <form>
            <h5>Proverbs 19:17</h5>
            <p>Whoever is Generous to the Poor Lends to the Lord, and He Will repay him or her for the deed</p>
            <div class="d-flex w-100 gap-2">
              
             <a class="btn btn-primary"  href="mailto:ushindichildren@gmail.com">CONTACT US</a>
              
            </div>
          </form>
        </div>
      </div>
 
     <div class="d-flex justify-content-between py-4 my-4 border-top">
       <p>&copy; 2022 Ushindi Children's Home, All rights reserved.</p>
       <ul class="list-unstyled d-flex">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i class="bi bi-facebook" style="font-size:30px;color:blue"></i></a>
          <a class="navbar-brand" href="mailto:ushindichildren@gmail.com"><i class="bi bi-google" style="font-size:30px; color: black;"></i></a>
          <a class="navbar-brand" href="#"><i class="bi bi-youtube" style="font-size:30px; color: red;"></i></a>
          <a class="navbar-brand" href="#"><i class="bi bi-twitter" style="font-size:30px; color:blue;"></i></a>
          <a class="navbar-brand" href="#"><i class="bi bi-instagram" style="font-size:30px; color: #fb3958;"></i></a>
          </div>
       </ul>
     </div>
   </footer>
 </div>
 </footer>
 
 
     <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<!-- ----------------------------- -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>