<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/school.css' %}">

    <script defer src="{% static 'js/app.js'%}"></script>
    

    <title>Ushindi Children's Home</title>
  </head>
  <body>


<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    
<!-- <div class="container"> -->
  <nav class="navb-custom">
    <div class="container-fluid">
        <h1>WE THE CONQUERORS</h1>
      
      </div>
      
    <!-- </div> -->
  </nav>
</div>
  
      <!-- <div class="container"> -->
        <div class="lownav">
        <nav class="navbar navbar-custom bg-light ">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom btnnav">
          <a href="{% url 'index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="{% static 'images/logonew.png' %}" alt="logo" width="200" height="110">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
    
          <ul class="nav nav-pills btnnav">
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Gallery</a></li>
            <li class="nav-item"><a href="{% url 'high' %}" class="nav-link">Kambiri Victory High School</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Something</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Get Involved</a></li>
          </ul>
        </header>
      </nav>
      </div>


      <div class="schoolmotto">
        <h2>As Warriors Our Motto Is:</h2>
        <p>Aspire to Conquer</p>
        

        <div class="proj_richus">
            <a class="btn btn-success"  href="mailto:ushindichildren@gmail.com">CONTACT US</a>
            <a class="btn btn-primary"  href="{% url 'projects' %}">PROJECTS</a>
            <a class="btn btn-primary"  href="{% url 'projects' %}">GALLERY</a>
        </div>
    </div>


      <div class="orphantext">
        <h2>Our Story</h2>
        <p>When a child’s parents die, he or she faces serious challenges which may include extremely limited to access of most basic needs like food, shelter, and clothing or being left with an abusive extended family, or a family that is too poor or one with other needs making taking the new child to be unwanted responsibility. In a lot of cases as in some testimonies from our children, the child may end up as a beggar, street child, prostitution, committing crimes like stealing to survive or performing child labor.</p>
        <p>Such circumstance usually erodes any bright future the child might have and ensures continuity of the cycle of poverty.</p>
        <p>Among the many visions for the local community, Bishop Jane Amunga and the Late Bishop Justus Amunga sought to end this vicious cycle by creating an environment where the children have a New Hope and access to A Shelter, Healthy Diet, Education and Spiritual wellbeing. That environment is the Ushindi Children’s Home Kenya.</p>
        <p>At Our Home, the children are provided with a balanced  and healthy diet of three meals a day. Every child has his or her own bed, beddings, and secured area to keep personal treasures. Each child has access  to routine medical care as well as any care that is need.</p> 
        <p>The Children have access to quality education in institutions established by our founders and encouraged to participate in extracurricular activities that nurtures their talents provided in the schools. The children are raised in a safe, clean, loving environment where they can grow and flourish. As the Late Bishop Always believed, so do we:</p>
            <h3>The Future of Humanity is Dependent on How The Children Are Raised</h3>

      <div class="proj_richus">
        <a class="btn btn-success"  href="mailto:ushindichildren@gmail.com">CONTACT US</a>
        <a class="btn btn-primary"  href="{% url 'projects' %}">PROJECTS</a>
        <a class="btn btn-primary"  href="{% url 'projects' %}">GALLERY</a>
            
      </div>
      </div>

        <!-- ------------------------------- -->
     
        <div class="container">
          <div class="row">
            <div class="col-sm ushvision">
              <h5>Our Visions</h5>
                    <p class="card-text">We Exist to meet the needs of the orphans, Abandoned, Neglected or Abused children by providing education, food, shelter, clothing, health care, skills training and Christian discipleship</p>
                   
            </div>
            <div class="col-sm ushmision">
              <h5>Our Mission</h5>
                <ol>
                  <h5>To Win Orphans, Neglected, Abused or Abandoned Children to Christ by:</h5>
                  <li>Creating a Safe, nurturing, loving and Christian Home Environment for the children</li>
                  <li>Meeting the needs of the Children by providing Education, Food, Shelter, Clothing, Health Care, Skills training and Christian discipleship</li>
                  <li>Providing education to children that will help break the cycle of poverty in Kenya</li>
                  <li>Providing Hope to Orphaned, Abandoned, Neglected or Abused Children by taking them off the streets</li>
                  <li>Availing needed resources for the children to live a healthy and fulfilled life</li>
                </ol>
              

            </div>
          </div>
        </div>



          <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------- -->

      <div class="ourhisto">
        <h2>HOW WE CAME ABOUT</h2>
      <div class="timeline">
        <ul>
          <li>
            <span>3rd January 2020</span>
            <div class="content">
              <h3>What Is Lorem Ipsum?</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
          </li>
          <li>
            <span>21st Jun 2019</span>
            <div class="content">
              <h3>What Is Lorem Ipsum?</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
            </div>
          </li>
          <li>
            <span>15th April 2018</span>
            <div class="content">
              <h3>What Is Lorem Ipsum?</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
            </div>
          </li>
          <li>
            <span>22nd Mars 2017</span>
            <div class="content">
              <h3>What Is Lorem Ipsum?</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
              </p>
            </div>
          </li>
        </ul>
      </div>

    </div>
     
    </div>
        
 <!-- ------------------------------------------------------------------------------------------------------------------- -->

 <div class="abotus">
    
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Our School</h5>
            <p class="card-text">Kambiri Victory High School is a Testament to the Goodness and Faithfulness of God. Back in 20... we had over ... children across multiple High Schools in Kenya. Affordability to meet the vision of providing quality education was proving to be a challenge and hence the establishment of the High School</p>
            <p>God Has Been Faithful in providing resources to facilitate <em> Free High Quality</em> <b>Education, Extra-Curriculum Activities, Facilities and Curriculum Practical Resources</b> to <em><b>Orphans, Underprivileged,</b></em> which is <em>Affordable</em> to <em><b>Talented and Other Students</b></em> and talented <em> Free High Quality</em></p>
                
            <a href="#" class="btn btn-primary">Get Involved</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Our Vision</h5>
            <p class="card-text">We Exist to meet the needs of the orphans, Abandoned, Neglected or Abused children by providing education, food, shelter, clothing, health care, skills training and Christian discipleship</p>
            <p>Meeting the needs of the Children by providing Education, Food, Shelter, Clothing, Health Care, Skills training and Christian discipleship</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Our Mission</h5>
            <p class="card-text">We Exist to meet the needs of the orphans, Abandoned, Neglected or Abused children by providing education, food, shelter, clothing, health care, skills training and Christian discipleship</p>
            <p>Meeting the needs of the Children by providing Education, Food, Shelter, Clothing, Health Care, Skills training and Christian discipleship</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      

</div>


 <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
 <div class="schooloffer">
    <div class="schoolcourses">
      <h2 >What We Offer</h2>
    <p>A Christian organization dedicated to building Self-Sustaining orphanages in Kenya to give new homes to children who have been orphaned - largely due to the HIV/AIDS pandemic or children who are Victims of Abuse, Neglect or Abandonment. In addition, we work to meet the needs of the poor and widowed</p>
    </div>

<div class="row">
      <div class="col-sm-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Computer Studies</h4>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="high1.jpg" alt="pic" width="150" height="120">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                    <a href="" class="btn btn-primary">Read More...</a>
                   
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Chemistry</h4>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="high1.jpg" alt="pic" width="150" height="120">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                    <a href="" class="btn btn-primary">Read More...</a>
                   
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Physics</h4>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="high1.jpg" alt="pic" width="150" height="120">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                    <a href="" class="btn btn-primary">Read More...</a>
                   
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">CRE</h4>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="high1.jpg" alt="pic" width="150" height="120">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                    <a href="" class="btn btn-primary">Go somewhere</a>
                   
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
     
</div>
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<div class="schooloffer">
    <div class="schoolcourses">
    <h2 >Our Extra-Curriculum Activities</h2>
    <p>In Addition to providing education to our children, we strongly believe in providing the children with opportunities to nurture their talents or avenues to succeed in Life beyond Education. This opportunities include</p>
    
    </div>
    
    <div class="row">
    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Academic</h4>
          <div class="row g-0">
              <div class="col-md-4">
                  <img src="high1.jpg" alt="pic" width="150" height="120">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>We train our students to understand and not merely pass the exams</p>
                  <a href="" class="btn btn-primary">Read More...</a>
                  
                 
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Computer Studies</h4>
          <div class="row g-0">
              <div class="col-md-4">
                  <img src="high1.jpg" alt="pic" width="150" height="120">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>Computer Studies -- future is in comp n hencet</p>
                  <a href="" class="btn btn-primary">Read More...</a>
                 
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Soccer -- both men and women</h4>
          <div class="row g-0">
              <div class="col-md-4">
                  <img src="high1.jpg" alt="pic" width="150" height="120">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                  <a href="" class="btn btn-primary">Read More...</a>
                 
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Netball</h4>
          <div class="row g-0">
              <div class="col-md-4">
                  <img src="high1.jpg" alt="pic" width="150" height="120">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                  <a href="" class="btn btn-primary">Go somewhere</a>
                 
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
   
    
</div>
    
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->


 <footer>
  <div class="b-example-divider"></div>


 <div class="container">
   <footer class="py-5">
     <div class="row">
       <div class="col-2">
         <ul class="nav flex-column">
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">The Orphanage</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Testimonies</a></li>
         </ul>
       </div>
 
       <div class="col-2">
         <ul class="nav flex-column">
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Intermountain Christian School</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Gallery</a></li>
          
           
         </ul>
       </div>
 
       <div class="col-2">
         <ul class="nav flex-column">
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Kambiri Victory High School</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></li>
           
         </ul>
       </div>
 
       <div class="col-4 offset-1">
         <form>
           <h5>Proverbs 19:17</h5>
           <p>Whoever is Generous to the Poor Lends to the Lord, and He Will repay him or her for the deed</p>
           <div class="d-flex w-100 gap-2">
             
            <a class="btn btn-primary"  href="mailto:ushindichildren@gmail.com">CONTACT US</a>
             
           </div>
         </form>
       </div>
     </div>
 
     <div class="d-flex justify-content-between py-4 my-4 border-top">
       <p>&copy; 2022 Ushindi Children's Home, All rights reserved.</p>
       <ul class="list-unstyled d-flex">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i class="bi bi-facebook" style="font-size:30px;color:blue"></i></a>
          <a class="navbar-brand" href="mailto:ushindichildren@gmail.com"><i class="bi bi-google" style="font-size:30px; color: black;"></i></a>
          <a class="navbar-brand" href="#"><i class="bi bi-youtube" style="font-size:30px; color: red;"></i></a>
          <a class="navbar-brand" href="#"><i class="bi bi-twitter" style="font-size:30px; color:blue;"></i></a>
          <a class="navbar-brand" href="#"><i class="bi bi-instagram" style="font-size:30px; color: #fb3958;"></i></a>
          </div>
       </ul>
     </div>
   </footer>
 </div>
 </footer>
 
 
     <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<!-- ----------------------------- -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>