<!-- <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Read More...</a> -->

<h1>WE THE CONQUERORS</h1>

<div class="schoolmotto">
    <h2>As the Conquerors:</h2>
    <p>For Us There is No Mountain High Enough</p>
    

  <div class="proj_richus">
    <a class="btn btn-success"  href="mailto:ushindichildren@gmail.com">CONTACT US</a>
    <a class="btn btn-primary"  href="{% url 'projects' %}">PROJECTS</a>
    <a class="btn btn-primary"  href="{% url 'projects' %}">GALLERY</a>
        
  </div>
  </div>