<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/footers/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="school.css">
    <link rel="stylesheet" href="footers.css">
  
    

    <script defer src="{% static 'js/app.js'%}"></script>
    <title>Ushindi Children's Home</title>
  </head>
  <body>
        <div class="navbar">
            <div class="uppernav">
                <nav >
                  <h6>The WARRIORS - HIGH</h6>
                  <h6>The CONQUERORS - ICS -- OVERLAY EVERYTHING WITH BACKGROUND SHOWING</h6>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </nav>
            </div>
            <!--  _______________________________________________________________________-->

            <div class="lowernav">
                <ul class="nav nav-pills">
                    <li class="nav-item lownav">
                      <a class="nav-link" aria-current="page" href="{% url 'orphanhome' %}">Intermountain Christian School</a>
                    </li>
                    <li class="nav-item lownav1">
                        <a class="link2" href="{% url 'index' %} ">
                            <img src="{% static 'images/logonew.png' %}" alt="Ushindi Logo" width="150" height="120">
                        </a>
                      </li>
                      
                    
                    <li class="nav-item lownav">
                      <a class="nav-link" href="{% url 'song' %}">Get Involved</a>
                    </li>
                  </ul>
            </div>
        </div>
    <!-- _____________________________________________________________________ -->
              <div>
                <h3 style="text-align:center">This is where the future is Made</h3>
              </div>
              <div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">As Warriors Our Motto Is</h5>
                    <p class="card-text">To Aspire to Conquer</p>
                  
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">As The Conquerors</h5>
                    <p class="card-text">We Know that there is no Mountain High Enough</p>
                  
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
                


<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="high1.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <div class="about">
                      <h2 >ABOUT US</h2>
                    <p>A Christian organization dedicated to building Self-Sustaining orphanages in Kenya to give new homes to children who have been orphaned - largely due to the HIV/AIDS pandemic or children who are Victims of Abuse, Neglect or Abandonment. In addition, we work to meet the needs of the poor and widowed</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="school.jpeg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">

                    <h5>Our Mission</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="ushindi_team.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="ushindi_team.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Our Athletics</h5>
                    <p>List upcoming Project</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="ushindi_team.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Our Future</h5>
                    <p>List upcoming Project</p>
                  </div>
                </div>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>



<!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->



            <div class="abotus">
                <div class="about">
                  <h2 >ABOUT US</h2>
                <p>A Christian organization dedicated to building Self-Sustaining orphanages in Kenya to give new homes to children who have been orphaned - largely due to the HIV/AIDS pandemic or children who are Victims of Abuse, Neglect or Abandonment. In addition, we work to meet the needs of the poor and widowed</p>
                </div>


                <div class="row">
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Our Visions</h5>
                        <p class="card-text">We Exist to meet the needs of the orphans, Abandoned, Neglected or Abused children by providing education, food, shelter, clothing, health care, skills training and Christian discipleship</p>
                        <p>Meeting the needs of the Children by providing Education, Food, Shelter, Clothing, Health Care, Skills training and Christian discipleship</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Our Mission</h5>
                        <ol class="card-text">
                          <h5>To Win Orphans, Neglected, Abused or Abandoned Children to Christ by:</h5>
                          <li>Creating a Safe, nurturing, loving and Christian Home Environment for the children</li>
                          <li>Meeting the needs of the Children by providing Education, Food, Shelter, Clothing, Health Care, Skills training and Christian discipleship</li>
                        </ol>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Our History</h5>
                        <ol class="card-text">
                          <h5>To Win Orphans, Neglected, Abused or Abandoned Children to Christ by:</h5>
                          <li>Creating a Safe, nurturing, loving and Christian Home Environment for the children</li>
                          <li>Meeting the needs of the Children by providing Education, Food, Shelter, Clothing, Health Care, Skills training and Christian discipleship</li>
                        </ol>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Our School</h5>
                        <ol class="card-text">
                          <h5>To Win Orphans, Neglected, Abused or Abandoned Children to Christ by:</h5>
                          <li>Creating a Safe, nurturing, loving and Christian Home Environment for the children</li>
                          <li>Meeting the needs of the Children by providing Education, Food, Shelter, Clothing, Health Care, Skills training and Christian discipleship</li>
                        </ol>
                        <a href="#" class="btn btn-primary">Go somewhere - directs to album with Class, dining, field, science, library</a>
                      </div>
                    </div>
                  </div>
                </div>

          </div>
          <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
          <div class="abotus">
            <div class="about">
              <h2 >What We Offer</h2>
            <p>A Christian organization dedicated to building Self-Sustaining orphanages in Kenya to give new homes to children who have been orphaned - largely due to the HIV/AIDS pandemic or children who are Victims of Abuse, Neglect or Abandonment. In addition, we work to meet the needs of the poor and widowed</p>
            </div>

      <div class="row">
              <div class="col-sm-3 mb-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Computer Studies</h4>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="high1.jpg" alt="pic" width="150" height="120">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                            <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Read More...</a>
                           
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 mb-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Chemistry</h4>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="high1.jpg" alt="pic" width="150" height="120">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                            <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Read More...</a>
                           
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 mb-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Physics</h4>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="high1.jpg" alt="pic" width="150" height="120">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                            <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Read More...</a>
                           
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 mb-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">CRE</h4>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="high1.jpg" alt="pic" width="150" height="120">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                            <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere</a>
                           
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 mb-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Geography</h4>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="high1.jpg" alt="pic" width="150" height="120">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                            <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere - directs to album with Class, dining, field, science, library</a>
                           
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 mb-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Agriculture</h4>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="high1.jpg" alt="pic" width="150" height="120">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                            <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere - directs to album with Class, dining, field, science, library</a>
                           
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 mb-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Computer Studies</h4>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="high1.jpg" alt="pic" width="150" height="120">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                            <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere - directs to album with Class, dining, field, science, library</a>
                           
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 mb-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Computer Studies</h4>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="high1.jpg" alt="pic" width="150" height="120">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
                            <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere - directs to album with Class, dining, field, science, library</a>
                           
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
       </div>
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="abotus">
<div class="about">
<h2 >Our Extra-Curriculum Activities</h2>
<p>In Addition to providing education to our children, we strongly believe in providing the children with opportunities to nurture their talents or avenues to succeed in Life beyond Education. This opportunities include</p>

</div>

<div class="row">
<div class="col-sm-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Academic</h4>
      <div class="row g-0">
          <div class="col-md-4">
              <img src="high1.jpg" alt="pic" width="150" height="120">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p>We train our students to understand and not merely pass the exams</p>
              <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Read More...</a>
             
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Computer Studies</h4>
      <div class="row g-0">
          <div class="col-md-4">
              <img src="high1.jpg" alt="pic" width="150" height="120">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p>Computer Studies -- future is in comp n hencet</p>
              <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Read More...</a>
             
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Soccer -- both men and women</h4>
      <div class="row g-0">
          <div class="col-md-4">
              <img src="high1.jpg" alt="pic" width="150" height="120">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
              <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Read More...</a>
             
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Netball</h4>
      <div class="row g-0">
          <div class="col-md-4">
              <img src="high1.jpg" alt="pic" width="150" height="120">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
              <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere</a>
             
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Softball</h4>
      <div class="row g-0">
          <div class="col-md-4">
              <img src="high1.jpg" alt="pic" width="150" height="120">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
              <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere - directs to album with Class, dining, field, science, library</a>
             
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Badminton</h4>
      <div class="row g-0">
          <div class="col-md-4">
              <img src="high1.jpg" alt="pic" width="150" height="120">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
              <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere - directs to album with Class, dining, field, science, library</a>
             
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Chess</h4>
      <div class="row g-0">
          <div class="col-md-4">
              <img src="high1.jpg" alt="pic" width="150" height="120">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p>game of strategy and life we need strategy</p>
              <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere - directs to album with Class, dining, field, science, library</a>
             
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Agriculture</h4>
      <div class="row g-0">
          <div class="col-md-4">
              <img src="high1.jpg" alt="pic" width="150" height="120">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
              <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere - directs to album with Class, dining, field, science, library</a>
             
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Drama & Traditional </h4>
      <div class="row g-0">
          <div class="col-md-4">
              <img src="high1.jpg" alt="pic" width="150" height="120">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p>Our founder had the vision of the school being a center for kenyan cultural hub</p>
              <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere - directs to album with Class, dining, field, science, library</a>
             
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Music</h4>
      <div class="row g-0">
          <div class="col-md-4">
              <img src="high1.jpg" alt="pic" width="150" height="120">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
              <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere - directs to album with Class, dining, field, science, library</a>
             
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Rugby</h4>
      <div class="row g-0">
          <div class="col-md-4">
              <img src="high1.jpg" alt="pic" width="150" height="120">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
              <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere - directs to album with Class, dining, field, science, library</a>
             
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Debate</h4>
      <div class="row g-0">
          <div class="col-md-4">
              <img src="high1.jpg" alt="pic" width="150" height="120">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p>A One or Tow description of the subject A One or Tow description of the subject A One or Tow description of the subject</p>
              <a href="{% url 'read_more' post.id %}" class="btn btn-primary">Go somewhere - directs to album with Class, dining, field, science, library</a>
             
            </div>
          </div>
      </div>
    </div>
  </div>
</div>



</div>


        <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------- -->
 
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------- -->


</div>
<div class="b-example-divider"></div>


<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-2">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">The Orphanage</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Testimonies</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Intermountain Christian School</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Gallery</a></li>
         
          
        </ul>
      </div>

      <div class="col-2">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Kambiri Victory High School</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></li>
          
        </ul>
      </div>

      <div class="col-4 offset-1">
        <form>
          <h5>Proverbs 19:17</h5>
          <p>Whoever is Generous to the Poor Lends to the Lord, and He Will repay him or her for the deed</p>
          <div class="d-flex w-100 gap-2">
            
            <button class="btn btn-primary" type="button">Get Involved</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>&copy; 2022 Ushindi Children's Home, All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>







    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>